@using LimitedPower.UI.Services
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="col text-center" style="font-size: xx-large">
                <span style="cursor: pointer" @onclick="() => SetNew(Sets.Stx)">🏫</span>
                <span style="cursor: pointer" @onclick="() => SetNew(Sets.Khm)">🪓</span>
                <span>|</span>
                <span style="cursor: pointer" @onclick="() => Ch()">Live?: @Session.LiveData</span>
            </div>
            @*<span style="font-size:xx-small">
                    Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC.
                    © 2021 All rights reserved. This website is not affiliated with Wizards of the Coast LLC.
                </span>*@
            <a href="https://www.instagram.com/lazarqt/" target="_blank" class="ml-md-auto">Author 📸</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    [Inject]
    public UserSession Session { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public ICardService CardService { get; set; }

    private void Ch()
    {
        Session.LiveData = !Session.LiveData;
        NavigationManager.NavigateTo($"tierlist/{Session.SelectedSet}");
    }

    private void SetNew(string s)
    {

        //CardService.GetCards(s);
        Session.SelectedSet = s;

        NavigationManager.NavigateTo($"tierlist/{s}");

    }
}
