@inherits LayoutComponentBase

<div class="page" @ref="rootRef" tabindex="0" @onkeydown="HandleKeyDown">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <span style="font-size:xx-small">
                Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC.
                © 2021 All rights reserved. This website is not affiliated with Wizards of the Coast LLC.
            </span>
            <a href="https://www.instagram.com/lazarqt/" target="_blank" class="ml-md-auto">Author 📸</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    public string LoL { get; set; }
    private ElementReference rootRef;
    private string pressedKey;
    private List<string> konamiCode = new() { "arrowup", "arrowup", "arrowdown", "arrowdown", "arrowleft", "arrowright", "arrowleft", "arrowright", "b", "a" };
    List<string> sequence = new List<string>();

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        sequence.Add(e.Key.ToLower());
        for(var i = 0; i < sequence.Count; i++)
        {
            if (sequence[i] != konamiCode[i])
            {
                sequence.Clear();
                break;
            }
        }
        if (sequence.Count == konamiCode.Count)
        {

        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await rootRef.FocusAsync();
        }
    }
}
