@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <span style="font-size:xx-small">
                Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC.
                © 2021 All rights reserved. This website is not affiliated with Wizards of the Coast LLC.
            </span>
            <a href="https://www.instagram.com/lazarqt/" target="_blank" class="ml-md-auto">Author 📸</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
